a{
  text-decoration: none;
}

.App {
  margin:0px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: baseline;
  background: rgba(245, 241, 241, 0.774);
  max-height: 100vh;
  overflow: hidden;

}

.app__navbar{
  width: inherit;
  z-index: 1;
}

.app__body{
  display: flex;
  width: inherit;
}
.app__sidebar{
  background: white;
  margin-right: 1rem;
}
.app__content{
  width: inherit;
  max-height: 90vh;
  overflow-y: auto;
  padding: 10px 0;
}
